# Dependency directories
node_modules/
.svelte-kit/
.next/
dist/
.output/

# Logs
logs
*.log
npm-debug.log*

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# Environmental variables / Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local
.dev.vars
